{% extends 'base.html' %}
{% load staticfiles %}
        
        <!--main features-->
        <section class="bg-white" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 mx-auto text-center wow fadeIn">
                        <h2 class="text-primary">Why Choose FanEmotion?</h2>
                        <p class="lead">
                          e FanEmotion is more than just a screen capturing app.
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-4 text-center">
                    <div class="col-sm-6 col-md-3 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-body">
                                <div class="icon-box">
                                    <i class="material-icons dp36">camera_enhance</i>
                                </div>
                                <h5 class="card-title text-primary pt-5">Capture Anytime</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-body">
                                <div class="icon-box">
                                    <i class="material-icons dp36">crop</i>
                                </div>
                                <h5 class="card-title text-primary pt-5">Unlimited Crops</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-body">
                                <div class="icon-box">
                                    <i class="material-icons dp36">cloud_upload</i>
                                </div>
                                <h5 class="card-title text-primary pt-5">Upload at Cloud</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 mt-2">
                        <div class="card border-none wow fadeIn">
                            <div class="card-body">
                                <div class="icon-box">
                                    <i class="material-icons dp36">invert_colors</i>
                                </div>
                                <h5 class="card-title text-primary pt-5">Beautiful Design</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
